.block {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
}

.card-wrapper {
  border: 1px solid #fff;
  border-radius: 22px;
  padding: 32px;
}

.block--margin-l {
  margin-left: 32px;
}

.block--margin-r {
  margin-right: 32px;
}

.block--margin-b {
  margin-bottom: 32px;
}
