.btn__wrapper {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 22px;
  text-transform: uppercase;
  color: $template-color;
  font-size: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .icon-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    background-color: $component-color;
    border: 1px solid $component-color;
  }

  &.btn-secondary {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }

  &.btn-tertiary {
    background-color: #fff;
    border: 1px solid #fff;

    .btn-label,
    .btn-icon {
      color: #000;
    }
  }

  .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btn-circle {
    // border: 1px solid #fff;
    // color: #fff;
    // background-color: transparent;
    border-radius: 50%;
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 8px;

    .btn-label {
      display: none;
    }
  }
}

.btn.active {
  color: $component-color;
  border-color: $component-color;
  font-weight: 700;
}
