.page-container {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section-container {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 90px;
}

.pagination__wrapper {
  display: flex;
  justify-content: center;

  .pagination__items {
    gap: 12px;
  }
}
